<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Picture of {{name}}</p>
            <p>This site was created by Eugene Chang. It uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src="./img/def.png">
        </div>
        
        {{>footer}}
    </body>
</html>